  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: #fff;
  background-color: #5995DA; 
  padding: 20px 0;
  text-decoration: none;
}

h1{
  text-align: center;
}
h2 {
  text-align: center;
  border-radius: 8px; 
  border: 5px solid navy; 

} 

ul, ol {
  list-style: none;
}

body {
  font-size: 1rem; 
  line-height: 1;
  padding-top: 70px;
 
}
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex-direction: column;
  justify-content: 2;
}

items-start {
  align-items: flex-start;
}

justifiy-start {
  justify-content: flex-start;
}

.form-container {
  border-radius: 8px; 
  border: 5px solid navy; 
  margin: 3rem auto; 
  max-width: 600px;
  min-height: 200px;
  padding: 1rem 2rem;
  background-color: white;
}

.form-new {
  border-top: 1px solid white;
}
