 .grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 3.125em 3.125em 3.125em 3.125em;
  grid-template-rows: auto;
  grid-gap: 0.625em;
  background-color: #2196F3;
  padding: 0.625em;
  background-position-x: center;
  /* margin-left: 10em; */
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:  1.25em 0;
  font-size: 1.875em;
  color: black;
}
.selected {
  background-color:#000;
  color:#fc0;
}

.selected active {
  color:#fc0;
} 

div > button {
  background-color: white;
}
