/* ---------------------------------- */
/* Basic Setup */
/* ---------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: rgb(31, 24, 24);
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/* ---------------------------------- */
/* reusable components*/
/* ---------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
    
}

/*-------Headings---------*/
h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
/*-------Buttons---------*/
.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px; 
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border-0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #d45a09;
    border: 1px solid #d45a09;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #d45a09; 
    color: #d45a09;
    
}
.btn:hover,
.btn:active {
    background-color: #b34c08;
}
.btn-full:hover,
.btn-full:active {
    background-color: #b34c08;
    border: 1px solid #b34c08;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #b34c08; 
    color: #fff;
}

/* ---------------------------------- */
/* Header*/
/* ---------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url("./decorations-at-spa.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* #logo {
    border: 1px solid  #d45a09;
    border-radius: 50%;
    color: #d45a09

} */